* {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

/* company logo - top */



.top {
    border-bottom: 2px solid black;
}

.carousel {
    margin: 0;
    width: 100%;
    height: 60%;
    text-align: center;
    position: relative;
    padding: 0;
    justify-content: center;
}

.company-logo>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
    padding: 0px 0px 0px 0px;
}


/* jumbotron - middle*/

.jumbotron {
    margin: 30px 0px 40px 0px;
}

.container>.row {
    background-color: rgb(230, 230, 230);
}

.col-md-8,
.col-md-4 {
    padding: 10px;
    padding-top: 80px;
    position: relative;
    text-align: left;
    background-color: rgb(230, 230, 230);
}

.col-md-8>img {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 90%;
    margin: 15px;
    background-color: rgb(230, 230, 230);
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
}

.col-md-8>img.top:hover {
    opacity: 0;
}

.col-md-4 {
    line-height: 1.5;
    vertical-align: middle;
    text-align: left;
   }

.nav-list,
li,
a {
    list-style: none;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 28px;
    color: rgb(49, 49, 49);
    background-color: rgb(230, 230, 230);
    text-decoration: none;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.nav-list li a:hover {
    color: #d1d1d1;
}


/* Gallery - bottom */

.bottom {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 0;
}

.row {
    display: flex;
    padding: 10px 20px 10px 20px;
}

.column {
    flex: 20%;
    padding: 5px;
}

.column>img {
    /* transition: transform .2s; */
}

.column>img:hover {
    /* -ms-transform: scale(1.5);
    /*IE9*/
    /* -webkit-transform: scale(1.5); */
    /*Safari3-8*/
    /* transform: scale(1.5);
    -webkit-transform: scale(2.8); 
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5); */
    /* position: absolute;
    max-width: 20%;  */
   
    /* top: 50%;
    left: 50%; 
    margin-top: -50px;
    margin-left: auto;
    margin-right: 500px;  */

    /* margin-top: auto;
    margin-bottom: auto; */
    /* bottom: 50%; */

    /* position:absolute; 
    display:none; 
    z-index:99;
    left:50%;
    top: 30%; */

    /* right: 50%;
    max-width: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display:block; */
  

  transform: scale(2) rotateZ(0deg) ;
  -moz-transform: scale(2) rotateZ(0deg);
  -webkit-transform: scale(2) rotateZ(0deg);
  -o-transform: scale(2) rotateZ(0deg);
  transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    margin-top:-100px;
    /* margin-left: 8pc; */
    display: relative;

    
   
     /* margin-top: -50px;
    margin-left: center;
    margin-right: center; 
    max-width: 250px; */

    /* visibility: visible; */
    /* top: 50%;
    margin-top:-25%;
    left: 230px;  */
    /* z-index: 50; */


}

.column>img:hover{ 
    visibility: visible;
    top: 50%;
    right: 50%;
    left: 50%;
    margin-top:-25%;
    left: 230px; 
    z-index: 50;
    }



/* footer */

.footer {
    padding: 30px 20px 0px 20px;
   
}

.container-footer>.row,
.col-md-6.footer-copyright,
.col-md-6.footer-social,
i {
    background-color: rgb(230, 230, 230);
    padding: 0;
 
}

.col-md-6.footer-copyright {
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

i {
    padding: 10px 15px;
}

/* product page */

.colprod { flex: 20%;
    padding: 0;
position:center;}

.container-prod {max-width: 95%;
padding: 0px 0px 30px 20px;}

.columntext {padding: 180px 0px 30px 120px;
}
